.hero {
  min-height: 764px;
  background-image: url(../../img/hero__background.png);
  background-position: center;
  background-repeat: no-repeat;

  &__container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1150px + 30px;
  }

  &__text-wrapper {
    padding-top: 100px;
    max-width: 640px;
  }

  &__main-title {
    margin: 0 0 38px;
    font-weight: 500;
    line-height: 74px;
  }

  &__description {
    margin: 0 0 38px;
    line-height: 28px;
  }

  &__btn {
    margin: 0 0 20px;
    padding: 20px 40px;
    font-size: torem(15px);
    line-height: 20px;
    color: var(--color-double-pearl-lusta);
    background-color: var(--color-opaltone);
  }

  &__prescription {
    margin: 0;
    line-height: 21px;
  }
}
