.reviews {
  margin-bottom: 72px;
  padding-top: 72px;

  &__container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1150px + 30px;
  }

  &__section-title {
    text-align: center;
  }
}

.swiper {
  padding: 0 50px;
  height: 725px;
  max-width: 1035px;

  &-container {
    position: relative;
    padding: 0 55px;
  }

  &-button {
    &-prev {
      left: 0;
      color: var(--color-opaltone);
    }

    &-next {
      right: 0;
      color: var(--color-opaltone);
    }
  }

  &-pagination {
    position: absolute;
    left: 0;
    bottom: 0;
  }

  &-slide {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__text {
    max-width: 350px;
    font-size: 40px;
    line-height: 44px;

    &-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-left: 10px;
      padding-bottom: 30px;
      height: 100%;
    }
  }

  &-pagination-bullet-active {
    background-color: var(--color-opaltone);
  }

  &__image {
    margin-right: 20px;
    width: 456px;
  }
}
