.users {
  padding-top: 120px;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1000px + 30px;
  }

  &__text-wrapper {
    padding: 0 10px;
    max-width: 508px + 20px;
    text-align: center;
  }

  &__title {
    margin: 0 0 18px;
    font-weight: 400;
    font-size: torem(40px);

    &-modify {
      font-weight: 400;
      font-size: torem(112px);
      text-transform: uppercase;
    }
  }

  &__image {
    min-width: 270px;
  }
}
