<section class="benefits">
  <div class="benefits__container">
    <div class="benefits__text-wrapper">
      <h3 class="section-title">
        Membership has its benefits
      </h3>
      <p class="description benefits__description">You help your clients build their business with Mailchimp. So we
        designed a community to help you grow yours, in your own unique way.
      </p>
    </div>
    <ul class="benefits__list list-reset">
      <li class="benefits__item">
        <picture>
          <source srcset=".avif" type="benefits__item-1/avif">
          <source srcset=".webp" type="benefits__item-1/webp">
          <img loading="lazy" src="../img/benefits/benefits__item-1.png" class="benefits__image">
        </picture>
        <h5 class="benefits__item-title">Grow your business</h5>
        <p class="benefits__item-description">Find more clients and earn rewards.</p>
      </li>
      <li class="benefits__item">
        <picture>
          <source srcset=".avif" type="benefits__item-2/avif">
          <source srcset=".webp" type="benefits__item-2/webp">
          <img loading="lazy" src="../img/benefits/benefits__item-2.png" class="benefits__image">
        </picture>
        <h5 class="benefits__item-title">Expand your expertise</h5>
        <p class="benefits__item-description">With Mailchimp & Co, you get access to exclusive tips and training.</p>
      </li>
      <li class="benefits__item">
        <picture>
          <source srcset=".avif" type="benefits__item-3/avif">
          <source srcset=".webp" type="benefits__item-3/webp">
          <img loading="lazy" src="../img/benefits/benefits__item-3.png" class="benefits__image" width="" height="" alt="">
        </picture>
        <h5 class="benefits__item-title">Simplify client work</h5>
        <p class="benefits__item-description">Get Mailchimp tools designed just for freelancers and agencies like you.
        </p>
      </li>
      <li class="benefits__item">
        <picture>
          <source srcset=".avif" type="benefits__item-4/avif">
          <source srcset=".webp" type="benefits__item-4/webp">
          <img loading="lazy" src="../img/benefits/benefits__item-4.png" class="benefits__image" width="" height="" alt="">
        </picture>
        <h5 class="benefits__item-title">Get insider perks</h5>
        <p class="benefits__item-description">From inspiring events to first looks at new features, we’ve got you
          covered.</p>
      </li>
    </ul>
  </div>
</section>
