<footer class="footer">
  <div class="footer__container">
    <div class="footer__top">
      <ul class="footer__category-list list-reset">
        <li class="footer__category-item category-item">
          <h6 class="category-item__title">Products</h6>
          <ul class="footer__links-list list-reset">
            <li class="footer__links-item"><a href="#" class="footer__links-link">Why Mailchimp?</a></li>
            <li class="footer__links-item"><a href="#" class="footer__links-link">Product Updates</a></li>
            <li class="footer__links-item"><a href="#" class="footer__links-link">Email Marketing</a></li>
            <li class="footer__links-item"><a href="#" class="footer__links-link">Websites</a></li>
            <li class="footer__links-item"><a href="#" class="footer__links-link">Transactional Email</a></li>
            <li class="footer__links-item"><a href="#" class="footer__links-link">How We Compare</a></li>
            <li class="footer__links-item"><a href="#" class="footer__links-link">GDPR Compliance</a></li>
            <li class="footer__links-item"><a href="#" class="footer__links-link">Security</a></li>
            <li class="footer__links-item"><a href="#" class="footer__links-link">Status</a></li>
            <li class="footer__links-item"><a href="#" class="footer__links-link">Mobile App</a></li>
          </ul>
        </li>
        <li class="footer__category-item category-item">
          <h6 class="category-item__title">Resources</h6>
          <ul class="footer__links-list list-reset">
            <li class="footer__links-item"><a href="#" class="footer__links-link">Guides & Tutorials</a></li>
            <li class="footer__links-item"><a href="#" class="footer__links-link">Marketing Tips</a></li>
            <li class="footer__links-item"><a href="#" class="footer__links-link">Marketing Glossary</a></li>
            <li class="footer__links-item"><a href="#" class="footer__links-link">Browse by Topic</a></li>
            <li class="footer__links-item"><a href="#" class="footer__links-link">Integrations Directory</a></li>
          </ul>
        </li>
        <li class="footer__category-item category-item">
          <h6 class="category-item__title">Community</h6>
          <ul class="footer__links-list list-reset">
            <li class="footer__links-item"><a href="#" class="footer__links-link">Agencies & Freelancers</a></li>
            <li class="footer__links-item"><a href="#" class="footer__links-link">Developers</a></li>
            <li class="footer__links-item"><a href="#" class="footer__links-link">Events</a></li>
          </ul>
        </li>
        <li class="footer__category-item category-item">
          <h6 class="category-item__title">Company</h6>
          <ul class="footer__links-list list-reset">
            <li class="footer__links-item"><a href="#" class="footer__links-link">Our Story</a></li>
            <li class="footer__links-item"><a href="#" class="footer__links-link">Newsroom</a></li>
            <li class="footer__links-item"><a href="#" class="footer__links-link">Annual Report</a></li>
            <li class="footer__links-item"><a href="#" class="footer__links-link">Careers</a></li>
          </ul>
        </li>
        <li class="footer__category-item category-item">
          <h6 class="category-item__title">Help</h6>
          <ul class="footer__links-list list-reset">
            <li class="footer__links-item"><a href="#" class="footer__links-link">Contact Us</a></li>
            <li class="footer__links-item"><a href="#" class="footer__links-link">Hire an Expert</a></li>
          </ul>
        </li>
      </ul>
      <ul class="footer__services list-reset">
        <li class="footer__services-item">
          <picture>
            <source srcset="../img/footer/footer__image-1.avif" type="image/avif">
            <source srcset="../img/footer/footer__image-1.webp" type="image/webp">
            <img loading="lazy" src="../img/footer/footer__image-1.svg" class="footer__image" width="" height="" alt="">
          </picture>
          <p class="footer__services-description">
            Films, podcasts and original series that celebrate the entrepreneurial spirit.
          </p>
          <a href="#" class="footer__link">Check it out</a>
        </li>
        <li class="footer__services-item">
          <picture>
            <source srcset="../img/footer/footer__image-2.avif" type="image/avif">
            <source srcset="../img/footer/footer__image-2.webp" type="image/webp">
            <img loading="lazy" src="../img/footer/footer__image-2.svg" class="footer__image" width="" height="" alt="">
          </picture>
          <p class="footer__services-description">
            Expert insights, industry trends, and inspiring stories that help you live and work on your own terms.
          </p>
          <a href="#" class="footer__link">Learn More</a>
        </li>
      </ul>
    </div>
    <div class="footer__bottom">
      <div class="footer__bottom-store">
        <a href="#" class="footer__store-link">
          <picture>
            <source srcset="../img/footer/footer__store-1.avif" type="image/avif">
            <source srcset="../img/footer/footer__store-1.webp" type="image/webp">
            <img loading="lazy" src="../img/footer/footer__store-1.png" class="footer__store-image" width="" height=""
              alt="">
          </picture>
        </a>
        <a href="#" class="footer__store-link">
          <picture>
            <source srcset="../img/footer/footer__store-2.avif" type="image/avif">
            <source srcset="../img/footer/footer__store-2.webp" type="image/webp">
            <img loading="lazy" src="../img/footer/footer__store-2.svg" class="footer__store-image" width="" height=""
              alt="">
          </picture>
        </a>
      </div>
      <ul class="footer__social list-reset" title="">
        <li class="footer__social-item"><a href="#" target="_blank" class="footer__social-link footer__social-link--fb"
            aria-label="Наша страничка в Фейсбуке">
            <svg class="footer__social-image">
              <use xlink:href="img/sprite.svg#tw"></use>
            </svg>
          </a></li>
        <li class="footer__social-item"><a href="#" target="_blank" class="footer__social-link footer__social-link--vk"
            aria-label="Наша страничка во Вконтакте">
            <svg class="footer__social-image">
              <use xlink:href="img/sprite.svg#fb"></use>
            </svg>
          </a></li>
        <li class="footer__social-item"><a href="#" target="_blank" class="footer__social-link footer__social-link--tw"
            aria-label="Наша страничка в Твиттере">
            <svg class="footer__social-image">
              <use xlink:href="img/sprite.svg#in"></use>
            </svg>
          </a></li>
        <li class="footer__social-item"><a href="#" target="_blank" class="footer__social-link footer__social-link--in"
            aria-label="Наша страничка в Фейсбуке">
            <svg class="footer__social-image">
              <use xlink:href="img/sprite.svg#inst"></use>
            </svg>
          </a></li>
        <li class="footer__social-item"><a href="#" target="_blank" class="footer__social-link footer__social-link--yt"
            aria-label="Наша страничка во Вконтакте">
            <svg class="footer__social-image">
              <use xlink:href="img/sprite.svg#yt"></use>
            </svg>
          </a></li>
        <li class="footer__social-item"><a href="#" target="_blank" class="footer__social-link footer__social-link--pi"
            aria-label="Наша страничка в Твиттере">
            <svg class="footer__social-image">
              <use xlink:href="img/sprite.svg#pi"></use>
            </svg>
          </a></li>
      </ul>
      <div class="footer__bottom-text-wrapper">
        <button class="footer__bottom-btn btn-reset">Read this page in</button>
        <p class="copyright">©2001-2021 All Rights Reserved. Mailchimp® is a registered trademark of The Rocket Science
          Group. Apple and the Apple logo are trademarks of Apple Inc., registered in the U.S. and other countries. Mac
          App Store is a service mark of Apple Inc. Google Play and the Google Play logo are trademarks of Google Inc.
          Privacy & Terms</p>
      </div>
    </div>
  </div>
</footer>
