<header class="header">
  <div class="header__container">
    <nav class="nav">
      <ul class="nav__list list-reset">
        <li class="nav__item"><a href="#" class="nav__link">Product</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Resources</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Inspiraion</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Pricing</a></li>
      </ul>
    </nav>
    <a href="#" class="logo header__logo">
      <picture>
        <source srcset=".avif" type="logo__image/avif">
        <source srcset=".webp" type="logo__image/webp">
        <img loading="lazy" src="../img/logo.jpg" class="logo__image" alt="Логотип">
      </picture>
    </a>
    <ul class="auth header__auth list-reset">
      <li class="auth__item">
        <button class="auth__log-btn btn-reset">Log In</button>
      </li>
      <li class="auth__item">
        <button class="auth__sign-btn btn-reset">Sign Up Free</button>
      </li>
    </ul>
  </div>
</header>
