<section class="hero">
  <div class="hero__container">
    <div class="hero__text-wrapper">
      <h1 class="hero__main-title main-title">
        Grow your <br> way with <br> Mailchimp & Co
      </h1>
      <p class="hero__description description">Are you a freelancer or agency helping small businesses succeed? Join Mailchimp & Co to
        learn new skills, build your reputation, and get tools to help you manage your clients. It’s free and easy to
        get started.
      </p>
      <button class="hero__btn btn-reset">Join Mailchimp & Co</button>
      <p class="hero__prescription prescription">(Whether you're new or have a free or paid Mailchimp account)</p>
    </div>
  </div>
</section>
