<section class="inspiration">
  <div class="inspiration__container">
    <h3 class="inspiration__section-title section-title">Get inspiration from your community</h3>
    <ul class="business-tips list-reset">
      <li class="business-tips__item">
        <picture>
          <source srcset="../img/inspiration/inspiration__image-1.avif" type="image/avif">
          <source srcset="../img/inspiration/inspiration__image-1.webp" type="image/webp">
          <img loading="lazy" src="../img/inspiration/inspiration__image-1.png" class="inspiration__image" width="" height="" alt="">
        </picture>
        <div class="business-tips__category">
          Business Tips
        </div>
        <h6 class="business-tips__title">
          Pro Tips for Auditing Your Client’s Mailchimp Account
        </h6>
        <p class="business-tips__description">
          Because of founder Brett Farmiloe’s auditing background, it’s in his agency Markitors' DNA to analyze every piece of information and formulate a story using that data. Here are his tips for a good email audit.
        </p>
      </li>
      <li class="business-tips__item">
        <picture>
          <source srcset="../img/inspiration/inspiration__image-2.avif" type="image/avif">
          <source srcset="../img/inspiration/inspiration__image-2.webp" type="image/webp">
          <img loading="lazy" src="../img/inspiration/inspiration__image-2.png" class="inspiration__image" width="" height="" alt="">
        </picture>
        <div class="business-tips__category">
          Business Tips
        </div>
        <h6 class="business-tips__title">
          Pro Tips for Auditing Your Client’s Mailchimp Account
        </h6>
        <p class="business-tips__description">
          Because of founder Brett Farmiloe’s auditing background, it’s in his agency Markitors' DNA to analyze every piece of information and formulate a story using that data. Here are his tips for a good email audit.
        </p>
      </li>
      <li class="business-tips__item">
        <picture>
          <source srcset="../img/inspiration/inspiration__image-3.avif" type="image/avif">
          <source srcset="../img/inspiration/inspiration__image-3.webp" type="image/webp">
          <img loading="lazy" src="../img/inspiration/inspiration__image-3.png" class="inspiration__image" width="" height="" alt="">
        </picture>
        <div class="business-tips__category">
          Business Tips
        </div>
        <h6 class="business-tips__title">
          Pro Tips for Auditing Your Client’s Mailchimp Account
        </h6>
        <p class="business-tips__description">
          Because of founder Brett Farmiloe’s auditing background, it’s in his agency Markitors' DNA to analyze every piece of information and formulate a story using that data. Here are his tips for a good email audit.
        </p>
      </li>
    </ul>
    <ul class="inspiration-buttons list-reset">
      <li class="inspiration-buttons__item">
        <h6 class="inspiration-buttons__title">Ready to explore the benefits?</h6>
        <button class="inspiration__btn btn-reset">See benefits</button>
      </li>
      <li class="inspiration-buttons__item">
        <h6 class="inspiration-buttons__title">Looking for freelancer tools?</h6>
        <button class="inspiration__btn btn-reset">See tools</button>
      </li>
    </ul>
  </div>
</section>
