<section class="join-section">
  <div class="join-section__container">
    <div class="join-section__text-wrapper">
      <h3 class="join-section__title">
        Already have a Mailchimp account?
      </h3>
      <p class="join-section__description description">Good news! If you’re a freelancer or agency, you can enjoy these benefits for no additional cost as soon as you join Mailchimp & Co. You won't lose any existing data and you can revert back at any time.
      </p>
      <button class="join-section__btn btn-reset">Join Mailchimp & Co</button>
    </div>
  </div>
</section>
