<section class="path">
  <div class="path__container">
    <div class="path__text-wrapper">
      <h3 class="path__section-title section-title">Your guided path to partnership</h3>
      <p class="description">Once you’re in, you’re part of a collective of Mailchimp insiders—from budding freelancers
        to seasoned agencies. You’ll get tools to help you do your thing, earn more for your work, and unlock more
        benefits along the way.
      </p>
    </div>
    <ul class="path__list list-reset">
      <li class="path__item">
        <div class="path__item-text-wrapper">
          <picture>
            <source srcset="../img/path__item-logo.avif" type="image/avif">
            <source srcset="../img/path__item-logo.webp" type="image/webp">
            <img loading="lazy" src="../img/path__item-logo.png" class="path__item-logo" width="" height="" alt="">
          </picture>
          <h5 class="path__subtitle">
            Your journey starts here
          </h5>
          <p class="text path__text">As a member, you'll get all that comes with a free Mailchimp account plus great perks for doing
            what you do best.
          </p>
          <p class="text path__text_margin">Access to exclusive training <br>
            Tools for managing multiple clients <br>
            Rewards for helping people with Mailchimp
          </p>
          <a href="#" class="path__link">See more benefits</a>
        </div>
        <picture>
          <source srcset="../img/path/path__item-1.avif" type="image/avif">
          <source srcset="../img/path/path__item-1.webp" type="image/webp">
          <img loading="lazy" src="../img/path/path__item-1.png" class="path__item-image">
        </picture>
      </li>
      <li class="path__item">
        <div class="path__item-text-wrapper">
          <picture>
            <source srcset="../img/path__item-logo.avif" type="image/avif">
            <source srcset="../img/path__item-logo.webp" type="image/webp">
            <img loading="lazy" src="../img/path__item-logo.png" class="path__item-logo" width="" height="" alt="">
          </picture>
          <h5 class="path__subtitle">
            Make your way to partner
          </h5>
          <p class="text path__text">Once you've become a partner, you're officially recognized as a Mailchimp professional, which comes with added features and benefits.
          </p>
          <p class="text path__text_margin">Get more leads with a listing in our partner directory <br>
            24/7 priority support so you can help clients faster <br>
            Official partner page and co-marketing materials
          </p>
          <a href="#" class="path__link">See more benefits</a>
        </div>
        <picture>
          <source srcset="../img/path/path__item-2.avif" type="image/avif">
          <source srcset="../img/path/path__item-2.webp" type="image/webp">
          <img loading="lazy" src="../img/path/path__item-2.png" class="path__item-image">
        </picture>
      </li>
      <li class="path__item">
        <div class="path__item-text-wrapper">
          <picture>
            <source srcset="../img/path__item-logo.avif" type="image/avif">
            <source srcset="../img/path__item-logo.webp" type="image/webp">
            <img loading="lazy" src="../img/path__item-logo.png" class="path__item-logo" width="" height="" alt="">
          </picture>
          <h5 class="path__subtitle">
            Go pro, get pro benefits
          </h5>
          <p class="text path__text">When you become a Mailchimp pro partner, you join the ranks of our most trusted and valued experts.
          </p>
          <p class="text path__text_margin">More exposure in our partner directory <br>
            Even more rewards for helping your clients <br>
            Access to our partner managers
          </p>
          <a href="#" class="path__link">See more benefits</a>
        </div>
        <picture>
          <source srcset="../img/path/path__item-3.avif" type="image/avif">
          <source srcset="../img/path/path__item-3.webp" type="image/webp">
          <img loading="lazy" src="../img/path/path__item-3.png" class="path__item-image">
        </picture>
      </li>
    </ul>
  </div>
</section>
