<section class="reviews">
  <div class="reviews__container">
    <h3 class="reviews__section-title section-title">See what our partners are saying</h3>
    <div class="swiper-container">
      <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <picture>
              <source srcset="../img/reviews/slider__image-1.avif" type="image/avif">
              <source srcset="../img/reviews/slider__image-1.webp" type="image/webp">
              <img loading="lazy" src="../img/reviews/slider__image-1.png" class="swiper__image" width="" height=""
                alt="">
            </picture>
            <div class="swiper__text-wrapper">
              <p class="swiper__text">
                Mailchimp’s robust support and documentation has allowed us to explore unique solutions and evolve with
                our brand's needs in ways other ‘enterprise’ marketing platforms should take notice of.
              </p>
              <p class="text">Danny Phillips, Director of Arkade</p>
            </div>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="../img/reviews/slider__image-1.avif" type="image/avif">
              <source srcset="../img/reviews/slider__image-1.webp" type="image/webp">
              <img loading="lazy" src="../img/reviews/slider__image-1.png" class="swiper__image" width="" height=""
                alt="">
            </picture>
            <div class="swiper__text-wrapper">
              <p class="swiper__text">
                Mailchimp’s robust support and documentation has allowed us to explore unique solutions and evolve with
                our brand's needs in ways other ‘enterprise’ marketing platforms should take notice of.
              </p>
              <p class="text">Danny Phillips, Director of Arkade</p>
            </div>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="../img/reviews/slider__image-1.avif" type="image/avif">
              <source srcset="../img/reviews/slider__image-1.webp" type="image/webp">
              <img loading="lazy" src="../img/reviews/slider__image-1.png" class="swiper__image" width="" height=""
                alt="">
            </picture>
            <div class="swiper__text-wrapper">
              <p class="swiper__text">
                Mailchimp’s robust support and documentation has allowed us to explore unique solutions and evolve with
                our brand's needs in ways other ‘enterprise’ marketing platforms should take notice of.
              </p>
              <p class="text">Danny Phillips, Director of Arkade</p>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</section>
