<section class="start-section">
  <div class="start-section__container">
    <div class="start-section__text-wrapper">
      <h2 class="start-section__title">
        Yes, you’re in the right place
      </h2>
      <p class="start-section__description description">
        Start your guided path to partnership today.
      </p>
      <button class="start-section__btn btn-reset">Join Mailchimp & Co</button>
      <p class="start-section__prescription prescription">
        (Whether you're new or have a Mailchimp account)
      </p>
    </div>
  </div>
</section>
