<section class="users">
  <div class="users__container">
    <picture>
      <source srcset="../img/users__image.avif" type="image/avif">
      <source srcset="../img/users__image.webp" type="image/webp">
      <img loading="lazy" src="../img/users__image.png" class="users__image">
    </picture>
    <div class="users__text-wrapper">
      <h4 class="users__title"><span class="users__title-modify">12m</span> <br> customers use Mailchimp for their marketing.</h4>
      <p class="users__text text">Mailchimp & Co helps connect those customers with freelancers and agencies like you.</p>
    </div>
  </div>
</section>
